.idea
.db

/hello_app/.bundle

# Ignore the default SQLite database.
/hello_app/db/*.sqlite3
/hello_app/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/hello_app/log/*
/hello_app/tmp/*
!/hello_app/log/.keep
!/hello_app/tmp/.keep

# Ignore pidfiles, but keep the directory.
/hello_app/tmp/pids/*
!/hello_app/tmp/pids/
!/hello_app/tmp/pids/.keep

# Ignore uploaded files in development.
/hello_app/storage/*
!/hello_app/storage/.keep
/hello_app/tmp/storage/*
!/hello_app/tmp/storage/
!/hello_app/tmp/storage/.keep

/hello_app/public/assets

# Ignore master key for decrypting credentials and more.
/hello_app/config/master.key

