.idea
.db

/toy_app/.bundle

# Ignore the default SQLite database.
/toy_app/db/*.sqlite3
/toy_app/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/toy_app/log/*
/toy_app/tmp/*
!/toy_app/log/.keep
!/toy_app/tmp/.keep

# Ignore pidfiles, but keep the directory.
/toy_app/tmp/pids/*
!/toy_app/tmp/pids/
!/toy_app/tmp/pids/.keep

# Ignore uploaded files in development.
/toy_app/storage/*
!/toy_app/storage/.keep
/toy_app/tmp/storage/*
!/toy_app/tmp/storage/
!/toy_app/tmp/storage/.keep

/toy_app/public/assets

# Ignore master key for decrypting credentials and more.
/toy_app/config/master.key

